body {
  margin: 10;
  background-color: #0F0022;
  color: white;
  background-image: url('./site_images/bkgrdTest.gif');
}

/***************************** menu buttons ***************************************************************/
.pagebuttons {  /*these are the menu buttons*/
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.pagebuttons .button {
  flex: 1 1 auto; /* Allow the button to grow and shrink as needed, with equal width */
  margin: 5px; /* Add some margin around the buttons */
  text-align: center;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
/********************************************************************************************/
a{
  color: green;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: red;
  background-color: lightblue;
  border-radius: 5px;
  text-align: center;
  font-weight: bold; /* Make button text bold */
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background-color: red;
  color: yellow;
}

.centeredMainContent { 
  font-family: Arial, sans-serif; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust height as needed */ 
  margin: 0;
  text-align: center; 
}

.horizontal-line { 
  width: 97%; 
  height: 3px; 
  background-color: red; 
  margin: 15px; 
}


/***************************** carousel ***************************************************************/
.carousel-item {
  height: 70vh; /* Adjust the height as needed */
  color: white;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-item img {
  max-width: 100vw;
  max-height: 70vh;
  width: auto;
  height: 70vh;
  margin:auto;
  border: 5px solid darkblue; /* Add a yellow frame */ 
  box-sizing: border-box; /* Ensure the border is included in the image dimensions */ 
}

.carousel-caption {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for better readability */
  padding: 10px; /* Adjust padding as needed */
  display: inline-block; /* Make the background just as wide as the caption text */
  max-width: max-content; /* Ensure background is only as wide as the caption text */
}

.carousel-slide {
  max-height: 70%;
}


/***************************** copyright footer section  *******************************************/
.footer { 
  background-color: black; 
  color: orange;
  text-align: center; 
  width: 100%; 
  padding: 10px 0; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
}

/***************************** title ***************************************************************/
.titleText {
  color: red;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 3em; /* Adjust the font size as needed */
  text-align: center;
  margin: 20px 0;
  display: block; /* Ensure the title takes its own line */
}

/***************************** personal statement ***************************************************************/
.content{
  width: 80%; /* Set the width to 70% of the page */ 
  margin: 0 auto; /* Center the div horizontally */
  font-size:1.2em
}

.section-title { 
  font-size: 1.2em;
  margin-top: 20px;
  border-bottom: 1px solid #ccc; 
  padding-bottom: 5px; 
}




ul { list-style-type: disc; } 
ul ul { list-style-type: square; margin-left: 20px; }






/***************************** cards  ***************************************************************/

.card-container { 
  width: 70%; 
  margin: 0 auto; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
 } 
 
 .card {
  background-color: orange; 
  padding: 20px; 
  margin: 10px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-title { 
  text-align: center; 
  margin-top: 0;
}


.homeText
{
  width: 40%; 
  margin: 0 auto; 
  text-align: center;
  font-size:1.2em
}


.homeText2
{
  width: 40%; 
  margin: 0 auto; 
  text-align: right;
  font-size:1em
}


.card-container a { 
  text-decoration: none; /* Remove underline from links inside cards */ 
  font-weight: bolder;
}